[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Steamdeck-with-monitor-start
Comment=
Exec=/home/fearlessgeek/.screenlayout/steamdeck-with-monitor.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

