// Commands to spawn at startup
spawn-at-startup "mako"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swww-daemon"
spawn-at-startup "crystal-dock"
spawn-at-startup "/home/fearlessgeek/.local/bin/ags-run"
spawn-at-startup "sunsetr"
spawn-at-startup "nm-applet"
