
<!DOCTYPE html>
<html lang="en">
<head>
    {{module=head.html}}
</head>
<body>
    {{module=header.html}}

    <main>
        <div class="container">
            <div class="content-layout">
                <div class="main-content">
                    {{#if children}}
                        {{#each children}}
                            <article class="blog-post">
                                <header>
                                    <h2><a href="/{{url}}">{{title}}</a></h2>
                                    {{#if date}}
                                        <time datetime="{{date}}">{{date "F j, Y"}}</time>
                                    {{/if}}
                                    {{#if author}}
                                        <span class="author">by {{author}}</span>
                                    {{/if}}
                                </header>
                                
                                {{#if excerpt}}
                                    <div class="excerpt">
                                        {{excerpt}}
                                    </div>
                                {{/if}}
                                
                                <a href="/{{url}}" class="read-more">Read More</a>
                            </article>
                        {{/each}}
                    {{else}}
                        <p>No blog posts found.</p>
                    {{/if}}
                </div>
                
                {{#if themeOptions.showSidebar}}
                    {{sidebar=main}}
                {{/if}}
            </div>
        </div>
    </main>

    {{module=footer.html}}
</body>
</html>
