
<!DOCTYPE html>
<html lang="en">
<head>
    {{module=head.html}}
</head>
<body>
    {{module=header.html}}
    {{include=ad-area.html}}

    <main>
        <div class="container">
            <div class="content-layout">
                <article class="main-content">
                    {{content}}
                </article>

                {{#if themeOptions.showSidebar}}
                    {{sidebar=main}}
                {{/if}}
            </div>
        </div>
    </main>

    {{module=footer.html}}
</body>
</html>
